/*
	Jukebox
	Copyright 2017 The Shmansion
	Created by @nikphilipsen
*/

@import "{}/imports/stylesheets/reset.less";
@import "{}/imports/stylesheets/variables.less";
@import "{}/imports/stylesheets/fontface.less";

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; // for some Androids
}

html, button, input, textarea, select {
	outline: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 16px;
	background-color: #000;
	color: #ccc;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-image: linear-gradient(to bottom, @color-bg-top, @color-bg-bottom);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

strong {
	font-weight: bold;
}

#header {
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 15px;	
}

#container {
	padding: 15px;
	max-width: 800px;
}

h1, h2, h3, h4, p {
	color: #ccc;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-shadow: 1px 1px #000;

}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 20px;
}

p.small {
	font-size: 12px;
	padding: 4px 0 0 0;
	max-width: 500px;
}

#explaination h2 {
	font-size: 20px;
	margin: 0 0 20px 0;
}

.welcomeOption {
	background: rgba(0, 0, 0, 0.7);
	padding: 15px 15px;	
	margin: 10px 0px;
	display: block;
	text-decoration: none;
	color: #ccc;
}

.welcomeOption span.icon {
	position: relative;
	float: left;
	font-size: 40px;
	margin: -10px 0px;
	padding: 0px;	
}

a.welcomeOption span.icon {
	margin: 0px 0px;
}

.welcomeOption h3 {
	margin-left: 50px;
	padding: 0 0 5px 0;
}

.welcomeOption p {
	margin-left: 50px;
}

#footer {
	position: fixed;
	bottom: 0px;
	padding: 10px 5px;
	width: 100%;
}

#footer p {
	color: #aaa;
}


#footer a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}

#footer a:hover {
	color: #fff;
	background-color: #000;
}


.inputContainer {
	margin: 0 0 0 50px;
}

.big-input {
	font-size: 30px;
	padding: 10px 10px;
	margin: 20px 0px;
	width: 300px;
	background-color: #161616;
	border: 0px;
	color: @color-primary;
}

.partyInput {
	width: 200px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

#invalidPlaylistAlert {
	background-color: @color-primary;
	border: #fff;
	padding: 5px;
	margin: 10px 0 -10px 0;
	display: none;
}

#invalidPlaylistAlert p {
	color: #000;
	text-shadow: none;
	margin: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
  font-weight: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.5;
  font-weight: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.5;
  font-weight: normal;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 0.5;
  font-weight: normal;
}


.inputPrefix {
	font-size: 30px;
	margin: 20px 0px;
	padding: 0 0 0 10px;
	background-color: #161616;
	border: 0px;
	color: #ccc;
	float: left;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

.inputPrefix .big-input {
	margin: 0px;
}

.partyJoinClick {
	float: left;
	color: @color-primary;
	text-decoration: none;
	font-size: 40px;
	margin: 25px 0 0 0;
	padding: 0 0 0 10px;
}

a.link-playlist-new {
	position: relative;
	padding: 10px;
	cursor: hand;
	color: @color-primary;
}

.nowPlayingHeader {
	background-color: #111;
}

.nowPlayingHeader h3 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
}

.playlistContainer {
	margin: 10px 0px;
}

.playlist li {
	padding: 10px 10px;
	color: #fff;
	border-bottom: 1px solid #666;
}

.playlist li:first-child {
	background-color: #111;
}

.playlist li:first-child span.votes:after {
	content: " votes";
}

.playlist li:first-child span.voter {
	display: none;
}

.playlist li:nth-child(2):before {
	content: "Up next: ";
	display: block;
}

span.songName {
	font-size: 18px;
}

span.songArtist {
	
}

span.voteContainer {
	border: 2px solid @color-primary;
	background-color: @color-primary;
    border-radius: 80px;
    color: #000;
    padding: 6px;
    margin: 0 0 0 10px;
    font-size: 16px;
    float: right;
}

.playlist li:first-child span.voteContainer {
	background-color: @color-secondary;
	color: @color-primary;
}

span.voter {
	padding: 0 0 0 5px;
}

.playlistShare {
	float: right;
	background-color: #111;
	padding: 5px;
}

.playlistShare p {
	font-size: 12px;
	text-align: center;
}

.playlistShare .playlistShareId {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	font-weight: bold;
}

.playlistShare .fa {
	margin-right: 5px;
}

.clear {
	clear: both;
}

.playlists-container{
	margin-right: 100px;
}

/* remove the scroll bar since on mobile you will prefer to just scroll without seeing a scrollbar */
#selectable-playlists::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
#selectable-playlists::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* Container with border and rounded corners */
.playlists-container ul {
    margin-left: 50px;
    border: 1px solid #ccc;
    width: 100%;
    /* precise size to fit exactly full items in the list without seeing partial blocks */
    max-height: 186px;
    overflow: scroll;
    overflow-x: hidden;

    /* Border radius for Chrome, Webkit and other good browsers */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -border-radius: 10px;
    border-radius: 10px;
}

/* Only add border to bottom of <li> */
.playlists-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Get rid of the last <li>'s bottom border to stop overlap with <ul>'s border */
/* :last-child works in IE7+ */
.playlists-container li:last-child {
    border-bottom: none;
}

/* background highlight on hovered playlists */
.playlists-container li:hover { 
    background-color: #b62990;
    cursor: pointer;
}

.search{
	width: 50%;
    margin: 0 auto; 
}

#search-input{
	width: 50%;
}

#nearby-button{
	margin-left: 50px;
	width: 40%;
}

/**************************************************
	Mobile/small screen overrides 
**************************************************/

@media only screen and (max-width : 600px) {
	
#container {
	padding: 5px;
}

#header h1 {
	text-align: center;
}

.big-input {
	width: 250px;
}

.partyInput {
	width: 185px;
}

#footer p {
	font-size: 12px;
	text-align: center;
}


}
