/*
	Jukebox
	Copyright 2017 The Shmansion
	Created by @nikphilipsen
*/

@import "{}/imports/stylesheets/reset.less";
@import "{}/imports/stylesheets/variables.less";
@import "{}/imports/stylesheets/fontface.less";

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; // for some Androids
}

html, button, input, textarea, select {
	outline: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 16px;
	background-color: #000;
	color: #ccc;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-image: linear-gradient(to bottom, @color-bg-top, @color-bg-bottom);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

strong {
	font-weight: bold;
}

#header {
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 15px;	
}

#container {
	padding: 15px;
}

h1, h2, h3, h4, p {
	color: #ccc;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 40px;
	text-shadow: 2px 2px #000;
}

h3 {
	font-size: 20px;
	text-shadow: 2px 2px #000;
}

#explaination h2 {
	font-size: 20px;
}

.welcomeOption {
	background: rgba(0, 0, 0, 0.7);
	padding: 15px 15px;	
	margin: 10px 0px;
}

.welcomeOption .fa {
	margin-right: 10px;
}

.big-input {
	font-size: 30px;
	padding: 10px 10px;
	margin: 20px 0px;
	width: 300px;
	background-color: #222;
	border: 0px;
	color: #ccc;
}

a.link-playlist-new {
	position: relative;
	padding: 10px;
	cursor: hand;
	color: @color-primary;
}

.nowPlayingHeader {
	background-color: #111;
}

.nowPlayingHeader h3 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
}

.playlistContainer {
	margin: 10px 0px;
}

.playlist li {
	padding: 10px 10px;
	color: #fff;
	border-bottom: 1px solid #666;
}

.playlist li:first-child {
	background-color: #111;
}

.playlist li:first-child span.votes:after {
	content: " votes";
}

.playlist li:first-child span.voter {
	display: none;
}

.playlist li:nth-child(2):before {
	content: "Up next: <br/>"
}

span.songName {
	font-size: 18px;
}

span.songArtist {
	
}

span.voteContainer {
	border: 2px solid @color-primary;
	background-color: @color-primary;
    border-radius: 80px;
    color: #000;
    padding: 6px;
    margin: 0 0 0 10px;
    font-size: 16px;
    float: right;
}

span.votes {
	
}

span.voter {
	padding: 0 0 0 5px;
}

.playlistShare {
	float: right;
	background-color: #111;
	padding: 5px;
}

.playlistShare p {
	font-size: 12px;
	text-align: center;
}

.playlistShare .playlistShareId {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	font-weight: bold;
}

.playlistShare .fa {
	margin-right: 5px;
}