/*
	Jukebox
	Copyright 2017 The Shmansion
	Created by @nikphilipsen
*/

/**************************************************
	Imports 
**************************************************/

@import "{}/imports/stylesheets/reset.less";
@import "{}/imports/stylesheets/variables.less";
@import "{}/imports/stylesheets/fontface.less";

/**************************************************
	Variables 
**************************************************/

// ** Colors **
@color-bg-top: #333;
@color-bg-bottom: #0a0a0a;
@color-primary: #B62990; // hot pink
@color-secondary: #111; // darkest grey
@color-tertiary: #222; // dark grey

@rounded-box-radius: 5px;

// ** Snippets **

.rounded {
	-webkit-border-radius: @rounded-box-radius;
    -moz-border-radius: @rounded-box-radius;
    -border-radius: @rounded-box-radius;
    border-radius: @rounded-box-radius;
}

/**************************************************
	Global items 
**************************************************/

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; // for some Androids
}

html, button, input, textarea, select {
	outline: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 16px;
	background-color: #000;
	color: #ccc;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-image: linear-gradient(to bottom, @color-bg-top, @color-bg-bottom);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

strong {
	font-weight: bold;
}

#header {
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 15px;	
}

#container {
	padding: 15px;
	width: 100%;
}

h1, h2, h3, h4, p {
	color: #ccc;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-shadow: 1px 1px #000;

}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 20px;
}

p.small {
	font-size: 12px;
	padding: 4px 0 0 0;
	max-width: 500px;
}

#explaination h2 {
	font-size: 20px;
	margin: 0 0 20px 0;
}

.full-screen{
	width: 80%;
	height: 100%;
}

.welcomeOption, .subcontainer {
	background: rgba(0, 0, 0, 0.7);
	padding: 15px 15px 15px 15px;	
	margin: 0px 0px 15px 0px;
	display: block;
	text-decoration: none;
	color: #ccc;
	.rounded;
}

.welcomeOption span.icon, .subcontainer span.icon {
	position: relative;
	float: left;
	font-size: 35px;
	margin: -10px 0px;
	padding: 0px;	
}

/* for hover effects, we must disable for mobile since the effect sticks after a touch, and so instead we just allow 'active' so there is still some effect */
html.touch .welcomeOption, html.touch .welcomeOption, html.touch .welcomeOption, html.touch .welcomeOption {
	i:hover, h3:hover, div:hover, span:hover, a:hover{
		color: @color-primary;
	}
}

html.nontouch .welcomeOption:hover, .welcomeOption:active {
	cursor: pointer; 
	cursor: hand;
}

html.nontouch .welcomeOption:hover .icon, html.nontouch .welcomeOption:hover h3, .welcomeOption:active .icon, .welcomeOption:active h3 {
	color: @color-primary;
}

a.welcomeOption span.icon {
	margin: 0px 0px;
}

.welcomeOption h3, .subcontainer h3 {
	margin-left: 50px;
	padding: 0 0 5px 0;
}

.welcomeOption p, .subcontainer p {
	margin-left: 50px;
}

#footer {
	position: fixed;
	bottom: 0px;
	padding: 10px 5px;
	width: 100%;
}

#footer p {
	color: #aaa;
}


#footer a {
	color: @color-primary;
	text-decoration: none;
	border-bottom: 1px dotted @color-primary;
}

#footer a:hover {
	color: #fff;
	border-bottom: 1px dotted #fff;
}

.beer:hover {
	color: @color-primary;
}


.inputContainer {
	margin: 0 0 0 50px;
}

.big-input {
	font-size: 16px;
	padding: 5px 10px;
	margin: 15px 0px;
	width: 300px;
	background-color: #111;
	border: 1px solid @color-primary;
	color: @color-primary;
	.rounded;
}

.big-input:focus {
	background-color: @color-primary;
	color: #111;
}

.bigger-input {
	font-size: 30px;
	padding: 10px 10px;
	margin: 0px 0px;
	width: 300px;
	background-color: #161616;
	border: 0px;
	color: @color-primary;
}

.partyInput {
	width: 200px;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	.rounded; 
}

#invalidAlert {
	background-color: @color-primary;
	border: #fff;
	padding: 5px;
	margin: 10px 20px -5px 0;
	display: none;
}

#invalidAlert p {
	text-shadow: none;
	margin: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  font-weight: normal;
  color: @color-primary;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  font-weight: normal;
  color: @color-primary;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  font-weight: normal;
  color: @color-primary;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  font-weight: normal;
  color: @color-primary;
}


.inputPrefix {
	font-size: 30px;
	margin: 15px 0px 0px 0px;
	padding: 0 0 0 10px;
	background-color: #161616;
	border: 0px;
	color: #ccc;
	float: left;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	.rounded; 
}

.inputPrefix .big-input {
	margin: 0px;
}

.partyJoinClick {
	float: left;
	color: @color-primary;
	text-decoration: none;
	font-size: 40px;
	margin: 25px 0 0 0;
	padding: 0 0 0 10px;
}

html.nontouch .partyJoinClick:hover, .partyJoinClick:active{
	color: white;
}

a.link-playlist-new {
	position: relative;
	padding: 10px;
	cursor: hand;
	color: @color-primary;
}

.nowPlayingHeader {
	background-color: #111;
}

.nowPlayingHeader h3 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
}

.playlistContainer {
	margin: 10px 0px;
}

.playlist li {
	padding: 10px 0px;
	color: #fff;
	border-bottom: 1px solid #666;
}

.playlistContainer .playlist li:first-child {
	background-color: #111;
}

.playlist li:first-child span.votes:after {
	content: " votes";
}

.playlist li:first-child span.voter {
	display: none;
}

.playlistContainer .playlist li:nth-child(2):before {
	content: "Up next: ";
	display: block;
	margin-bottom: 10px;
}

span.songName{
	font-size: 20px;
}

html.touch span.songName, html.touch span.songArtist {
	/* everything below is to force ellipses nowrap when the text gets too long */
	width: 100% - 38px;
	display:inline-block;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

/* special case for small screens - we can't possible fit one row, so we put image on one and eveyrthing else on other */
@media screen and (device-aspect-ratio: 2/3), screen and (device-aspect-ratio: 40/71) {
	html.touch span.songName, html.touch span.songArtist{
		width: 50% !important;
	}
	html.touch .songInfo{
		width: 100% !important;
	}
}

/* song info must be in blocks to make side-by-side with ablum art */
.songInfo{	
	display: inline-block; 
	vertical-align:top; 
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 10px;
}
/* mobile vs non requires different widths to place the action buttons on the far right of screen */
html.touch .songInfo{
	width: 80%;
}
html.nontouch .songInfo{
	width: 95%;
}

span.voteContainer {
	border: 2px solid @color-primary;
	background-color: @color-primary;
    border-radius: 80px;
    color: #000;
    padding: 6px;
    margin: 0 0 0 10px;
    font-size: 16px;
    float: right;
    text-align: right;
}

.playlist li:first-child span.voteContainer {
	background-color: @color-secondary;
	color: @color-primary;
}

span.voter {
	padding: 0 0 0 5px;
}

@-webkit-keyframes roll {
from { -webkit-transform: rotate(0deg) }
to   { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes roll {
from { -moz-transform: rotate(0deg) }
to   { -moz-transform: rotate(360deg) }
}

@keyframes roll {
from { transform: rotate(0deg) }
to   { transform: rotate(360deg) }
}

.playlistShare, .musicControlHelp {
	float: left;
	vertical-align: middle;
}

.playlistShare p {
	font-size: 12px;
	text-align: center;
}

.playlistShare .icon-content, .playlistSave .icon-content, .playlistSettings .icon-content {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	font-weight: bold;
}

.playlistSave, .playlistSettings, .hostShare {
	float: right;
	vertical-align: middle;
	display: inline-block;
}

.hostShare, .musicControlHelp{
	/* adjust to center vertically */
	margin-top: 5px;
}

.playlistSave p, .playlistSettings p {
	font-size: 12px;
	text-align: center;
}

.playlistSettings {
	padding: 6px 0;
}

.icon-action a{
	color: @color-primary;
	text-decoration: none;
}

html.nontouch .icon-action:hover, .icon-action:active{
	cursor: pointer; 
	cursor: hand;
}

html.nontouch .voteContainer:hover, .voteContainer:active{
	cursor: pointer; 
	cursor: hand;
	color: white;
}

html.nontouch .icon-action:hover span, .icon-action:active span, html.nontouch .icon-action:hover a, .icon-action:active a{
	cursor: pointer; 
	cursor: hand;
	color: white;
}

.disabled {
    color: white !important;
}

.clear {
	clear: both;
}

.scroll-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: @color-tertiary;
}

.scroll-box::-webkit-scrollbar
{
	width: 10px;
	background-color: @color-tertiary;
}

.scroll-box::-webkit-scrollbar-thumb
{
	background-color: @color-primary;
	border: none;
}

/* to get a contantly-rounded scrollable block with the scroll bar outside of the content, we needed to use these scroll wrappers */
.scroll-box-border{
	color: @color-primary;
	max-height: 302px;
    margin-left: 50px;
    .rounded;
    width: 240px;
    border:1px solid @color-primary;
}
.scroll-box {
    overflow-y: scroll;
    overflow-x: hidden;
	width: 255px;
    /* precise size to fit exactly full items in the list without seeing partial blocks */
    max-height: 300px;
    .rounded;
}

#selectable-playlists {
    width: 240px;
    height: 100%;
}

.scroll-box-border-large{
	color: @color-primary;
	max-height: 302px;
/*    margin-left: 50px;*/
    .rounded;
    width: 100%;
    border:1px solid @color-primary;
}
.scroll-box-large {
    overflow-y: hidden;
    overflow-x: hidden;
	width: 100%;
    /* precise size to fit exactly full items in the list without seeing partial blocks */
    max-height: 500px;
    .rounded;
}

/* Container with border and rounded corners */
.playlists-container ul {
    width: 100%;

	.rounded;
	}

/* Only add border to bottom of <li> */
.playlists-container li {
    padding: 10px;
    border-bottom: 1px solid @color-primary;
}

/* Get rid of the last <li>'s bottom border to stop overlap with <ul>'s border */
/* :last-child works in IE7+ */
.playlists-container li:last-child {
    border-bottom: none;
}

/* background highlight on hovered playlists */
html.nontouch .playlists-container li:hover, .playlists-container li:active { 
    background-color: @color-primary;
    color: #111;
    cursor: pointer;
}

.selectArrow {
	float: right;
	display: none;
}

html.nontouch .playlists-container li:hover .selectArrow, .playlists-container li:active .selectArrow {
	display: inline;
}

.search{
	width: 100%;
	margin: 0 auto;
}

.ui .input{
	width: 100%;
}

#search-input{
	.rounded;
	background-color: @color-tertiary;
	color: @color-primary !important;
	border: 1px solid @color-primary;
	}

#search-input::placeholder {
	color: @color-primary !important;
	}

#search-input i {
	color: @color-primary !important;
	}

.ui .results{
	float: left;
} 

#nearby-button{
	.rounded; 
}

.loading {
	color: #666 !important;
}

.showWhenLoading {
	display: none;
}

.loading .showWhenLoading {
	display: inline;
	color: @color-primary;
}

.loading .hideWhenLoading {
	display: none;
}

.horizontal{
	padding-top: 15px;
}

.logo-container{
	background: rgba(0, 0, 0, 0.7);
	margin: 0px 0px 0px 0px;
	color: @color-primary;
	.rounded;
}

#jukebox-logo{
	text-align: center;
}

.playlistTitle{
	background: rgba(0, 0, 0, 0.7);
	padding: 15px 15px 15px 15px;	
	margin: 0px 0px 10px 0px;
	display: block;
	text-decoration: none;
	color: #ccc;
	.rounded;
}

.actionBar{
	background: rgba(0, 0, 0, 0.7);
	padding: 15px 15px 15px 15px;	
	margin: 0px 0px 10px 0px;
	display: block;
	text-decoration: none;
	color: #ccc;
	.rounded;
	height: 60px;
}

.musicPlayer{
	background: rgba(0, 0, 0, 0.7);
	padding: 15px 15px 15px 15px;	
	margin: 10px 0px 10px 0px;
	text-decoration: none;
	color: #ccc;
	.rounded;
	width: 100%;
	text-align: center;
}

/* center the actions */
.musicActions{
   display:inline-block;
   width:200px;
   height: 100%;
   margin: 0 auto;
}

.musicAction{
	display:inline-block;
	width: 31%;
	text-align: center;
}

/* the play button's center is weirdly off so we adjust with this */
#playSong{
	padding-left: 10px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80%;
    background-color: @color-primary;
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 15px;
	.rounded;
	display:block;

    /* Position the tooltip text */
    position: fixed;
    z-index: 5;
    top: 150px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.ui.segment{
	/* styling over the semantic ui segment to fit our styles */
	border: none;
	background: none !important;
	background-image: none !important;
	margin: 0em 0em !important; 
	padding: 0em 0em !important;

	/* to adjust the music controls to the center */
	/*padding-left: 10px !important;*/
}

/* for the login icon in header */
.ui.dropdown{
	border: none;
	background: none !important;
	background-image: none !important;
}

/* */
.ui.popup, .ui.popup:before, .ui.popup:after, .ui.dropdown{
	color: white;
	background: @color-primary !important;
	border: none;
}

/**************************************************
	Mobile/small screen overrides 
**************************************************/

@media only screen and (max-width : 600px) {
	
#container {
	padding: 5px;
}

#header h1 {
	text-align: center;
}

.big-input {
	width: 250px;
}

.partyInput {
	width: 185px;
}

#footer p {
	font-size: 12px;
	text-align: center;
}

/* to get a contantly-rounded scrollable block with the scroll bar outside of the content, we needed to use these scroll wrappers */
/*.scroll-box-border{
	max-height: 100%;
    width: 100%;
    border:1px solid @color-primary;
}
.scroll-box {
    overflow-y: visible;
	width: 100%;
    max-height: 100%;
}
#selectable-playlists {
    max-height: 100%;
    height: 100%;
    width: 100%;
}*/

}
